.container {
	font-family: 'Helvetica';
	text-align: center;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	/* width: 1170px; */
	/* width: 100%; */
}

a button {
	cursor: pointer;
}

/* ===============HEADER=============== */
#header {
    height: 120px;
    padding: 10px;
}
.header_content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	background-color: #fff;
}
.header_content .logo p {
	line-height: 1.4;
	margin-top: -10px;
}
.header_content .phone {
	font-size: 20px;
	line-height: 1.4;
	padding-top: 20px;
}
.header_content .logo p {
	font-size: 12px;
}
.header_content .collback {
	background-color: #37A534;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 6px solid #287424;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 13px;
	color: #fff;
	margin-top: 5px;
	width: 200px;
}
/* ===============END_HEADER=============== */


/* ===============MENU=============== */
#main_menu {
	background-color: #37A534;
	height: 55px;
}
.menu_content .amenu {
	border-left: 2px solid #fff;
}
.menu_content .menu li {
	display: inline-block;
	border-right: 2px solid #fff;
	padding: 10px 30px 10px 30px;
	line-height: 35px;
}
.menu_content .menu a {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
/* ===============END_MENU=============== */


/* ===============block1=============== */
#block1 {
	background: url('../img/mainback.jpg') no-repeat center / cover;
}
.block1_content {
	padding-left: 50%;
	text-align: right;
}
.block1_content h1 {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 48px;
	padding-top: 40px;
	padding-bottom: 10px;
}
.block1_content h2 {
	color: rgb(204, 0, 0);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 48px;
	margin-top: 20px;
}
.hrred {
	height: 4px;
	background-color: rgb(204, 0, 0);
	width: 400px;
	margin-left: auto;
}
.block1_content p {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	margin-top: 20px;
	margin-top: 40px;
}
.block1_content .consult{
	padding: 10px;
	width: 400px;
	margin-top: 20px;
	border-radius: 10px;
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	background-color: #37A534;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 6px solid #287424;
}
/* ===============END_block1=============== */


/* ===============block2=============== */
#block2 {
	background-color: #cff0dd;
	padding-bottom: 40px;
}
.block2_content .block2_top_h1 {
	font-weight: bold;
	font-size: 32px;
	color: #063546;
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 10px;
}
.block2_content .block2_button button {
	background-color: #37A534;
	padding: 5px 10px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 6px solid #287424;
	font-weight: bold;
	border-radius: 5px;
	color: white;
	text-transform: uppercase;
	margin: 5px;
	font-size: 14px;
}
.block2_content .block2_button {
	margin-top: 40px;
	margin-bottom: 20px;
}
.block2_content .block2_promo_family {
	background-color: #063546;
	padding: 10px;
	padding-bottom: 20px;
	border-radius: 10px;
}
.block2_content .block2_promo_family h1 {
	text-transform: uppercase;
	font-size: 32px;
	color: #fff;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
.block2_content .block2_promo_contetnt {
	display: grid;
	grid-template-columns: 50% 50%;
}
.block2_content .block2_promo_family .photo {
	padding: 10px 15px 0px 15px;
}
.block2_content .block2_promo_family img {
	max-width: 100%;
	border-radius: 10px;
}
.block2_content .block2_text {
	padding: 10px 15px 0px 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	text-align: left;
	padding-left: 55px;
	font-size: 14px;
}
.block2_content .block2_text ul {
	padding-bottom: 10px;
}
.block2_content .block2_text li {
	padding-top: 15px;
}
.block2_content .block2_text button {
	background-color: #37A534;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 10px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 6px solid #287424;
	width: 200px;
}
/* ===============END_block2=============== */


/* ===============block3=============== */
.block3_content h1 {
	font-weight: bold;
	text-transform: uppercase;
	color: #063546;
	font-size: 32px;
	padding-top: 40px;
	padding-bottom: 10px;
}
.block3_content .block3_mail {
	margin-top: 40px;
	padding: 40px;
	border: 4px solid #063546;
	border-radius: 10px;
	margin-bottom: 40px;
}
.block3_content .block3_mail input {
	padding: 10px;
	border-radius: 10px;
	width: 300px;
	height: 20px;
	text-align: center;
	margin-left: 14px;
	margin-right: 14px;
	font-size: 14px;
}
.block3_content .block3_mail input#textarea {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 40px;
	border-radius: 10px;
	font-weight: bold;
	text-transform: uppercase;
	width: 90%;
}
.block3_content button {
	background-color: #37A534;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 10px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 6px solid #287424;
	width: 200px;
}
/* ===============END_block3=============== */


/* ===============block4=============== */
#block4 {
	background-color: #cff0dd;
	padding-bottom: 40px;
}
.block4_content h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
	color: #063546;
	padding-top: 40px;
	padding-bottom: 20px;
}
#block4 .service {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}
.block4_content .service_content p {
	padding-top: 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
}
/*===============END_block4=============== */


/*===============block5=============== */
#block5 {
	padding-bottom: 40px;
}
.block5_content h1{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 32px;
	color: #063546;
	padding: 40px 0px 10px 0px;
}
.block5_content .lawyers {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.block5_content h2 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px 0 10px 0px;
}
.block5_content p {
	font-size: 14px;
	line-height: 20px;
	font-size: 14px;
	margin-top: 10px;
    margin-bottom: 10px;
}
.block5_content hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}
.block5_content img {
	border-radius: 10px;
	border: 4px solid #35b06a;
	margin: 10px;
}
.block5_content .lawyers img {
	width: 200px;
	height: 250px;
}
/* .block5_content .Mihail {
	width: 300px;
	height: 300px;
} */
.block5_content .content_specialist img {
	width: 250px;
	height: 250px;
}
.block5_content .content_specialist p {
	font-weight: bold;
}
.block5_content .content1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.block5_content .content2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-left: 17%;
	padding-right: 17%;
}
/*===============END_block5=============== */


/*===============block6=============== */
#block6 {
	background-color: #35b06a;
	padding-bottom: 40px;
}
.block6_content h1 {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 32px;
	padding: 40px 0px 10px 0px;
}
.block6_content .call_content {
	display: grid;
	grid-template-columns: 50% 50%;
}
.block6_content .callback h3 {
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 18px;
}
.block6_content .callback input {
	width: 280px;
	border-radius: 10px;
	margin-bottom: 20px;
	height: 35px;
	padding: 10px;
	font-size: 18px;
}
.block6_content .callback .placeholder {
	padding: 10px;
}
.block6_content .callback button {
	height: 55px;
	padding: 10px;
	width: 300px;
	border-radius: 10px;
	background-color: rgb(204, 0, 0);
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 5px solid rgb(153, 0, 0);
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}
.block6_content .callback p {
	color: white;
}
.block6_content .phone h2 {
	color: black;
	font-size: 28px;
	margin-top: 60px;
	margin-bottom: 10px;
	font-weight: bold;
	line-height: 1.1;
}
.block6_content .phone a {
	font-size: 30px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.5;
}
/*===============END_block6=============== */


/*===============block7=============== */
.block7_content h1 {
	font-size: 32px;
	font-weight: bold;
	color: #063546;
	padding: 40px 0px 10px 0px;
	text-transform: uppercase;
}
.block7_content .row {
	border-bottom: 2px solid;
	display: grid;
	grid-template-columns: 4fr 1fr;
	font-size: 22px;
	padding: 20px;
}
.block7_content .row p {
	text-align:left;
	line-height: 1.4;
	text-indent: 30px;
}
.block7_content .row h2 {
	text-align:right;
	line-height: 1.4;
}
.block7_content .nech {
	background-color: #cff0dd;
}
.block7_content h3 {
	font-size: 32px;
	font-weight: bold;
	color: #063546;
	padding: 40px 0px 20px 0px;
	text-transform: uppercase;
}
/*===============END_block7=============== */


/*===============block8=============== */
#block8 {
	background: url('../img/fon-good-jurist.jpg') no-repeat center / cover;
	padding-bottom: 80px;
}
.block8_content {
	color: #fff;
}
.block8_content h1 {
	font-weight: bold;
	font-size: 32px;
	color: white;
	text-transform: uppercase;
	padding: 80px 0px 60px 0px;
	line-height: 1.1;
}
.block8_content li {
	font-size: 22px;
	text-transform: uppercase;
	color: white;
	line-height: 1.4;
}
.block8_content .citation {
	margin-top: 22px;
	list-style-type: none;
}
.block8_content .citation_all{
	text-align:right;
}
.block8_content .line{
	background-color: #37A534;
	width: 470px;
	height: 8px;
	margin-left: auto;
	margin-top: 5px;
}
/*===============END_block8=============== */


/*===============block9=============== */
#block9 {
	background-color: #35b06a;
	padding-bottom: 80px;
}
.block9_content h1 {
	color: #063546;
	font-size: 32px;
	padding: 40px 0px 20px 0px;
	font-weight: bold;
	text-transform: uppercase;
}
.block9_content .tel {
	padding-top: 20px;
	line-height: 1.4;
}
.block9_content a {
	text-decoration: none;
	font-size: 35px;
	color: #fff;
	font-weight: bolder;
	text-transform: uppercase;
}
/*===============END_block9=============== */


/*===============block10=============== */
#block10 {
	background-color: #063546;
	padding-bottom: 80px;
}
.block10_content .block10_Text {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.block10_content .text {
	display: grid;
	grid-template-columns: 15% 85%;
	padding: 0 10px 0 10px;
	margin-top: 20px;
	text-align: left;
}
.block10_content h1 {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
	padding: 40px 0 30px 0;
}
.block10_content h2 {
	color: #e04444;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	padding: 10px 0 10px 0;
	line-height: 1.1;
}
.block10_content p {
	color: white;
	font-size: 16px;
	padding: 0px 0 10px 0;
	line-height: 1.4;
}
/*===============END_block10=============== */


/*===============block11=============== */
#block11 {
	background-color: #cff0dd;
	padding-bottom: 80px;
}
.block11_content .block11_tabl {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.block11_content .text {
	display: grid;
	grid-template-columns: 15% 85%;
	padding: 0 10px 0 10px;
	margin-top: 20px;
	text-align: left;
}
.block11_content h1 {
	color:#063546;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
	padding: 40px 0 30px 0;
}
.block11_content h2 {
	color:#287424;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	padding: 10px 0 10px 0;
	line-height: 1.1;
}
.block11_content p {
	font-size: 16px;
	padding: 0px 0 10px 0;
	line-height: 1.4;
}

/*===============END_block11=============== */


/*===============block12=============== */
#block12 {
	padding-bottom: 80px;
}
.block12_content {
	text-align: left;
}
.block12_content h1 {
	color:#063546;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
	padding: 40px 0 30px 0;
	text-align: center;
}
.block12_content img {
	width: 150px;
	height: 150px;
	border-radius: 100px;
}
.block12_content h4 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #337ab7;
}
.block12_content .docs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.block12_content .doc {
	text-align: center;
}
/*===============END_block12=============== */


/*===============block13=============== */
.kart {
	position: absolute;
}
.block13_content h1 {
	color:#063546;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
	padding: 40px 0 30px 0;
	text-align: center;
}
.block13_content .adres {
	background-color: #cff0dd;
	padding: 20px;
}
.block13_content p {
	font-size: 20px;
	text-align: left;
	line-height: 1.4;
}
.block13_content h5 {
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	padding: 10px 0 10px 0;
}
.block13_content .phone {
	padding-top: 20px;
	line-height: 1.4;
	background-color: #35b06a;
	padding: 20px;
}
.block13_content .phone a {
	text-decoration: none;
	font-size: 35px;
	color: #fff;
	font-weight: bolder;
	text-transform: uppercase;
}
.block13_content .mail {
	background-color:#cff0dd;
	padding: 20px 20px 50px 20px;
}
#block13 iframe {
	width: 100%;
	height: 530px;
}

/*===============END_block13=============== */


/*===============footer=============== */
footer {
	background-color: #35b06a;
}
.footer_content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding-bottom: 40px;
}
.footer_content .logo {
	margin-top: 40px;
}
.footer_content .logo p{
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: -10px;
}
.footer_content h5 {
	color: black;
	font-size: 16px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.footer_content a {
	font-size: 12px;
	text-align: left;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}
.footer_content ul {
	padding: 0 0 10px 40px;
	line-height: 1.4;
	list-style-type: disc;
	text-align: left;
}
.footer_content .contact h3 {
	font-size: 24px;
	padding: 20px 0 10px 0;
	margin-top: -10px;
}
.footer_content .contact a {
	text-decoration: none;
	font-size: 24px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.4;
}
.footer_content .contact p {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	line-height: 1.4;
}
.footer_content .contact {
	text-align: left;
}
/*===============END_footer=============== */



/*===============MEDIA===================*/
@media (max-width: 1366px) {
	.header_content .logo p {
		font-size: 11px;
	}
	.menu_content ul {
		font-size: 12px;
	}
}
@media (max-width: 1024px) {
	.header_content .logo p {
		font-size: 10px;
	}
	.menu_content ul {
		font-size: 7px;
	}
}
