.container {
	font-family: 'Helvetica';
	text-align: center;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a button {
	cursor: pointer;
}

/* ===============HEADER=============== */
#header {
    height: 120px;
    padding: 10px;
}
.header_box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	background-color: #fff;
}
.logo p {
	line-height: 1.4;
}
.header_box .phone {
	font-size: 20px;
	line-height: 1.5;
	padding-top: 20px;
}
.header_box .logo {
	font-size: 12px;
}
.header_box .collback {
	background-color: #37A534;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 6px solid #287424;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 13px;
	color: #fff;
	margin-top: 5px;
	width: 200px;
}
/* ===============END_HEADER=============== */

/* ===============MENU=============== */
#main_menu {
	background-color: #37A534;
	height: 55px;
}
.amenu {
	border-left: 2px solid #fff;
}
.menu li {
	display: inline-block;
	border-right: 2px solid #fff;
	padding: 10px 30px 10px 30px;
	height: 100%;
	line-height: 35px;
}
.menu a {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
/* ===============END_MENU=============== */

/* ===============block1=============== */
#block1 {background: url('../img/mainback.jpg') no-repeat center / cover;}
.block1_content {
	padding-left: 50%;
	text-align: right;
}
.block1_content h1 {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 48px;
	padding-top: 40px;
	padding-bottom: 10px;
}
.block1_content h2 {
	color: rgb(204, 0, 0);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 48px;
	margin-top: 20px;
	text-decoration: underline;
}
/* .hrred {
	height: 4px;
	background-color: rgb(204, 0, 0);
	width: 400px;
} */
.block1_content p {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	margin-top: 20px;
	margin-top: 40px;
}
.block1_content .consult{
	padding: 10px;
	width: 400px;
	margin-top: 20px;
	border-radius: 10px;
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	background-color: #37A534;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 6px solid #287424;
}
/* ===============END_block1=============== */

/* ===============block2=============== */
#block2 {
	background-color: #e0f7f6;
	padding-bottom: 40px;
}
.block2_top_h1 {
	font-weight: bold;
	font-size: 32px;
	color: #063546;
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 10px;
}
.block2_button button {
	background-color: #37A534;
	padding: 5px 10px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 6px solid #287424;
	font-weight: bold;
	border-radius: 5px;
	color: white;
	text-transform: uppercase;
	margin: 5px;
	font-size: 14px;
}
.block2_button {
	margin-top: 40px;
	margin-bottom: 20px;
}
.block2_promo_famili {
	background-color: #063546;
	padding: 10px;
	padding-bottom: 20px;
	border-radius: 10px;
}
.block2_promo_famili h1 {
	text-transform: uppercase;
	font-size: 32px;
	color: #fff;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
.block2_promo_contetnt {
	display: grid;
	grid-template-columns: 50% 50%;
}
.block2_promo_famili .photo {
	padding: 10px 15px 0px 15px;
}
.block2_promo_famili img {
	max-width: 100%;
	border-radius: 10px;
}
.block2_text {
	padding: 10px 15px 0px 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	text-align: left;
	padding-left: 55px;
	font-size: 14px;
}
.block2_text ul {
	padding-bottom: 10px;
}
.block2_text li {
	padding-top: 15px;
}
.block2_text button {
	background-color: #37A534;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 10px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 6px solid #287424;
	width: 200px;
}
/* ===============END_block2=============== */

/* ===============block3=============== */
.block3_content h1 {
	font-weight: bold;
	text-transform: uppercase;
	color: #063546;
	font-size: 32px;
	padding-top: 40px;
	padding-bottom: 10px;
}
.block3_mail {
	margin-top: 40px;
	padding: 50px;
	border: 4px solid #063546;
	border-radius: 10px;
	margin-bottom: 40px;
}
.block3_mail input {
	padding: 10px;
	border-radius: 10px;
	width: 300px;
	height: 20px;
	text-align: center;
	margin-left: 14px;
	margin-right: 14px;
	font-size: 14px;
}
.block3_mail input#textarea {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 40px;
	border-radius: 10px;
	font-weight: bold;
	text-transform: uppercase;
	width: 90%;
}
.block3_content button {
	background-color: #37A534;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 10px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 6px solid #287424;
	width: 200px;
}
/* ===============END_block3=============== */


/* ===============block4=============== */
#block4 {
	background-color: #e0f7f6;
	padding-bottom: 40px;
}
.block4_content h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
	color: #063546;
	padding-top: 40px;
	padding-bottom: 20px;
}
#block4 .service {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}
.service_content p {
	padding-top: 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
}
/*===============END_block4=============== */